.stack_main {
  @apply flex flex-col items-center space-y-5 mt-[100px];
  h1 {
    @apply text-3xl;
  }

  .header_stack {
    @apply flex gap-x-10;
    .stack_value {
      @apply cursor-pointer;
    }

    .active_stack_value {
      @apply border-b-2 border-primary font-medium transition duration-700;
    }
  }


  .stack_content {
    @apply grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-6;

    .stack_icon {
      @apply border-2 border-purple-500/50 rounded-xl shadow-xl p-5 flex flex-col items-center w-[150px];

      img {
        @apply w-[80px] h-[80px];
      }

      p {
        @apply text-center text-2xl pt-3 font-light;
      }
    }
  }
}
