.projects {
  @apply flex flex-col items-center mt-[100px];

  .projects_catalog {
    @apply flex;

    .project {
      @apply flex flex-col items-center justify-center m-20 p-12 border-2 border-purple-500/50 rounded-xl shadow-xl;

      img {
        @apply w-[300px] h-[250px] rounded-lg shadow-lg object-contain;
      }
    }
  }
}

