@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 107 35.2% 91.1% / 0.76;
        --foreground: 0 0% 10%;
        --primary: 220 90% 56%;
        --border: 220 14% 90%;
    }
    .dark {
        --background: 317 13.6% 4.2% / 0.8;
        --foreground: 0 0% 98%;
        --primary: 220 90% 65%;
        --border: 220 14% 25%;
        --text-color: 107 0% 51%
    }
}